
/* appointment css start */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 15px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
    border-left: 6px solid #2d6cdf;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #1a1a1a;
    font-weight:600;
}

.text {
    font-size: 15px;
    margin: 4px 0;
    color: #444;
}

.a-tag{
    text-decoration: none;
}

.a-tag:hover{
    text-decoration: none;
}
/* appointment css end */




/* view appointment css start */
.filter-box {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.filter-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}

.filter-row label {
    font-weight: 600;
}

.filter-row input {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 180px;
}

.table-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    min-width: 900px; /* keeps format like Excel */
}

th, td {
    border: 1px solid #ccc;
    padding: 6px 10px;
}

th {
    background: #f0f2f7;
    font-weight: bold;
}

.header-row td {
    /* font-weight: bold; */
    background: #f7f7f7;
    border: none !important;
}
/* view appointment css end */